<!DOCTYPE html>
<html lang="en-ca">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />



    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./styles.css" />


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <div id="app">

      <main>
        <div class="mainContainer">
        <div class="catagoryBar">
          <input type="checkbox" class="tes" value="sale" v-model="selected">Sale</input>

        </div>
        <div>
        <ul class="products">
          <ul v-for="(product, index) in filteredProducts" class="product">
            <li>
            <div class="itemShoe">
            <img
              class="image"
              v-bind:src="product.imageSrc"
              v-bind:alt="product.imageSrc"
            /><p v-if="product.sale === 'true'" class="badgeSale">-{{ product.discount }}%</p>
            </div>


            <div class="color">
              <p>{{product.color}} - {{product.varient}} colors</p>
            </div>
            <div class="content">
              <h2>{{ product.title }}</h2>
                    <!-- <div>Stock:{{ product.stock }}</div> Shows exact amount of stock -->
                    <p v-if="product.stock > 10" class="badge in-stock">In stock</p>
                    <p v-else-if="product.stock === 0" class="badge out-stock">Out of stock</p>
                    <p v-else="product.stock" class="badge low-stock">low stock</p>
                    <p>{{ }}</p>

            </div>
            <!-- <section> For vairents - not used on the catagroy page anymore
              <h3 class="sr-only">Product variants</h3>
              <ul class="variants-selector">
                <li v-for="children in product.children">
                  <button v-on:click="updateSelectedVariant(index)" class="selected">
                    <img v-bind:src="children.selectorImageSrc" alt="" />
                    <span class="sr-only"> {{ children.type }}</span>
                  </button>
                </li>
              </ul>
            </section> -->
              <section>

                <h3 class="sr-only">Product price</h3>
                <div class="price-section">
                <p v-if="product.sale === 'true'" class="cut"> {{( (product.price) * (1 - ((product.discount) / 100)))}} <s>${{ product.price }}</s> </p>
                <p v-else class="price">${{ product.price }}</p>
                  <!-- <button
                    v-bind:disabled="product.stock == 0"
                    class="btn-primary"
                    @click="addToCart(index), product.stock -= 1"

                  >
                    Add to cart
                  </button> -->
                </div>

              </section>


            </div>
          </li>
          </ul>
        </ul>
        </div>
        </div>
        <app-footer></app-footer>
      </main>
    </div>

    <script type="module" src="./main.js"></script>
    <script>


    </script>
  </body>
</html>
